<div class="row">
  <div class="col s12 l8 offset-l2 center">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><h1>Contact</h1></span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l8 offset-l2">
    <div class="card">
      <div class="card-content">
        <h3 class="">Alex Wapniarski</h3>
  <div class="divider"></div>
  <h4 class="">Software Engineer</h4><br>
    <ul class="collection">
      <li class="collection-item"><br><p class="flow-text"><a href="mailto:&#119;&#097;&#112;&#110;&#105;&#097;&#114;&#115;&#107;&#105;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" class="links"><i class="fa fa-envelope fa" aria-hidden="true"></i></a>&nbsp;&nbsp;<a href='mailto:&#119;&#097;&#112;&#110;&#105;&#097;&#114;&#115;&#107;&#105;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;' class="links">&#119;&#097;&#112;&#110;&#105;&#097;&#114;&#115;&#107;&#105;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></p><br></li>
      <li class="collection-item"><br><p class="flow-text"><a href="http://www.linkedin.com/in/wapniarski" class="links"><i class="fa fa-linkedin-square fa" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href='http://linkedin.com/in/wapniarski' class="links">/in/wapniarski</a></p><br></li>
      <li class="collection-item"><br><p class="flow-text"><a href="http://github.com/alex-wap" class="links"><i class="fa fa-github fa" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href="http://github.com/alex-wap" class="links">github.com/alex-wap</a></p><br></li>
      <li class="collection-item"><br><p class="flow-text"><a href="../assets/Alex_Wapniarski_Resume.pdf" class="links"><i class="fa fa-file-pdf-o fa" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href="../assets/Alex_Wapniarski_Resume.pdf" class="links">Resume</a></p><br></li>
    </ul>
      </div>
    </div>
  </div>
</div>