<div class="col m6 offset-m3">
  <h4>Alex Wapniarski</h4>
  <div class="divider"></div>
  <h5>Web Developer</h5><br>
    <ul class="collection">
      <li class="collection-item"><p class="flow-text"><a href="mailto:&#119;&#097;&#112;&#110;&#105;&#097;&#114;&#115;&#107;&#105;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" class="links"><i class="fa fa-envelope fa" aria-hidden="true"></i></a>&nbsp;&nbsp;<a href='mailto:&#119;&#097;&#112;&#110;&#105;&#097;&#114;&#115;&#107;&#105;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;' class="links">&#119;&#097;&#112;&#110;&#105;&#097;&#114;&#115;&#107;&#105;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></p></li>
      <li class="collection-item"><p class="flow-text"><a href="https://www.linkedin.com/in/wapniarski" class="links"><i class="fa fa-linkedin-square fa" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href='https://www.linkedin.com/in/wapniarski' class="links">/in/wapniarski</a></p></li>
      <li class="collection-item"><p class="flow-text"><a href="https://github.com/alex-wap" class="links"><i class="fa fa-github fa" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://github.com/alex-wap" class="links">github.com/alex-wap</a></p></li>
    </ul>
</div>