<div class="col s12">
    <h2 class="center">Alex Wapniarski</h2>
    <div class="divider col s4 offset-s4"></div><br>
    <div class="center"><img class="responsive-img" src="../assets/photo.JPG" id="personal-photo"></div>
    <br>
    <div class="row">
        <div class="col s12">
        <h4 class="center">About</h4><br>
        <p class="center flow-text">Hello! My name is Alex and I am a Bay Area native.<br>I am a Web Developer with a passion for coding!<br><br>
        I graduated from University of California, Berkeley with a degree <br>in Mechanical Engineering. I spend my time <a href="https://www.flickr.com/photos/98182088@N03/albums/with/72157662083553465" class="links">traveling</a>, playing games, 
        <br>enjoying live music, and coding!<br><br>
        Check out my <a href='#/portfolio' class="links"><i class="fa fa-folder-open-o" aria-hidden="true"></i> <strong>portfolio</strong></a> of projects and <a href='https://github.com/alex-wap' class="links"><i class="fa fa-github" aria-hidden="true"></i> <strong>GitHub</strong></i></a> to see my work.<br><br>
        Do you have a spot on your team? Do you just want to chat?<br>
        Feel free to contact me via email! <a href='mailto:&#119;&#097;&#112;&#110;&#105;&#097;&#114;&#115;&#107;&#105;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;' class="links"><i class="fa fa-envelope" aria-hidden="true"></i> <strong>&#119;&#097;&#112;&#110;&#105;&#097;&#114;&#115;&#107;&#105;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</strong></a></p><br>
        </div>
        </div>
<div class="divider"></div><br>
    </div>
    <div class="row center">
      <div class="col s12">
      <!-- Italy -->
      <a data-flickr-embed="true"  href="https://www.flickr.com/photos/98182088@N03/9166274706/in/album-72157634400092843/" title="IMG_2109"><img class="responsive-img" src="https://c3.staticflickr.com/6/5485/9166274706_7033f649eb_m.jpg" width="135" height="180" alt="IMG_2109"></a>
      <!-- Vietnam -->
      <a data-flickr-embed="true"  href="https://www.flickr.com/photos/98182088@N03/24247872399/in/album-72157661616492094/" title="IMG_0254"><img class="responsive-img" src="https://c8.staticflickr.com/2/1591/24247872399_9e281d398c_m.jpg" width="240" height="180" alt="IMG_0254"></a>
      <!-- Germany -->
      <a data-flickr-embed="true"  href="https://www.flickr.com/photos/98182088@N03/13958298012/in/album-72157644201304035/" title="IMG_3755"><img class="responsive-img" src="https://c5.staticflickr.com/3/2916/13958298012_1d190de96e_m.jpg" width="240" height="180" alt="IMG_3755"></a>
      <!-- Thailand -->
      <a data-flickr-embed="true"  href="https://www.flickr.com/photos/98182088@N03/23988862193/in/album-72157661616492094/" title="IMG_0494"><img class="responsive-img" src="https://c2.staticflickr.com/2/1706/23988862193_0de92a1db8_m.jpg" width="240" height="180" alt="IMG_0494"></a>
      <!-- England -->
      <a data-flickr-embed="true"  href="https://www.flickr.com/photos/98182088@N03/20279561490/in/album-72157657005266326/" title="IMG_7595"><img class="responsive-img" src="https://c3.staticflickr.com/4/3714/20279561490_c8bcdb7ea1_m.jpg" width="240" height="180" alt="IMG_7595"></a>
      <!-- Philippines -->
      <a data-flickr-embed="true"  href="https://www.flickr.com/photos/98182088@N03/28211690172/in/album-72157668196455064/" title="IMG_2274"><img class="responsive-img" src="https://c5.staticflickr.com/9/8703/28211690172_841ee16622_n.jpg" width="320" height="180" alt="IMG_2274"></a>
      <!-- Disneyland -->
      <a data-flickr-embed="true"  href="https://www.flickr.com/photos/98182088@N03/17316197661/in/album-72157649932627624/" title="IMG_6449"><img class="responsive-img" src="https://c6.staticflickr.com/8/7795/17316197661_786f918c49_m.jpg" width="135" height="180" alt="IMG_6449"></a>
      </div>
    </div>
<div class="divider"></div><br>
<div class="row center">
    <h4>Skills</h4>
    <div class="col s10 offset-s1"><input type="text" placeholder="Filter for skills" ng-model='_filter'></div>
    <div class="row center">
    <div class="col m2 offset-m1">
          <table class="striped">
            <thead>
              <tr>
                  <th class="indigo white-text"><strong>Languages</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='language in languages | filter:_filter'>
                <td ng-bind='language'></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col m2">
          <table class="striped">
            <thead>
              <tr>
                  <th class="indigo white-text"><strong>Frameworks</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='framework in frameworks | filter:_filter'>
                <td ng-bind='framework'></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col m2">
          <table class="striped">
            <thead>
              <tr>
                  <th class="indigo white-text"><strong>Tools</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='tool in tools | filter:_filter'>
                <td ng-bind='tool'></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col m2">
          <table class="striped">
            <thead>
              <tr>
                  <th class="indigo white-text"><strong>Design</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='d in design | filter:_filter'>
                <td ng-bind='d'></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col m2">
          <table class="striped">
            <thead>
              <tr>
                  <th class="indigo white-text"><strong>Misc</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='m in misc | filter:_filter'>
                <td ng-bind='m'></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
</div>
<div class="divider"></div><br>
<h4 class="center" id="portfolio">Projects</h4><br>
  <div class="row">
    <div class="col l8 offset-l2">
      <div class="card">
        <div class="card-content" id="typingdojo">
          <h4><a href="http://typing-dojo.alexw.tech/" class="links"><strong>Typing Dojo</strong></a></h4>
          <p class="flow-text">Typing Dojo is a typing game that lets you race against other users in real time using web sockets. Race your friend or challenge yourself to type as fast as you can! <a href="https://github.com/alex-wap/typing-dojo" class="links"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
            <strong>Technologies Used:</strong><br>
            JavaScript, MongoDB, Express.js, AngularJS, Node.js, Socket.io, Materialize, AWS EC2, Git, HTML, CSS.</p><br>
          </div>
          <div class="row">
          <div class="col s6">
          <div class=" card-image waves-effect waves-block waves-light"><a href="http://typing-dojo.alexw.tech/">
            <img src="../assets/typingdojo.png" class="responsive-img"></a>
          </div>
          </div>
          <div class="col s6">
          <div class="card-image waves-effect waves-block waves-light"><a href="http://typing-dojo.alexw.tech/">
            <img src="../assets/typingdojo2.png" class="responsive-img"></a>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col l8 offset-l2">
        <div class="card">
          <div class="card-content" id="crime">
            <h4><a href="http://crime-dodger.alexw.tech/" class="links"><strong>Crime Dodger</strong></a></h4>
            <p class="flow-text">Crime Dodger helps users travel safely through the city of San Francisco. This app maps the crime in San Francisco using Socrata Open Data and Google Maps JavaScript API. <a href="https://github.com/alex-wap/crime-dodger" class="links"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
              <strong>Technologies Used:</strong><br>
              JavaScript, Python, HTML, CSS, Bootstrap, MVC, S3, AWS, Git, Socrata Open Data, Google Maps JavaScript API.</p><br>
            </div>
          <div class="row">
          <div class="col s6">
          <div class=" card-image waves-effect waves-block waves-light"><a href="http://crime-dodger.alexw.tech/">
            <img src="../assets/crime-dodger.png" class="responsive-img"></a>
          </div>
          </div>
          <div class="col s6">
          <div class="card-image waves-effect waves-block waves-light"><a href="http://crime-dodger.alexw.tech/">
            <img src="../assets/crime-dodger2.png" class="responsive-img"></a>
          </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col l8 offset-l2">
        <div class="card">
          <div class="card-content" id="user-dash">
            <h4><a href="http://user-dashboard.alexw.tech/" class="links"><strong>User Dashboard</strong></a></h4>
            <p class="flow-text">User Dashboard is an application that demonstrates an MVC Framework, Login/Registration, Validation, Bootstrap, and a relational database. <a href="https://github.com/alex-wap/user_dashboard" class="links"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
              <strong>Technologies Used:</strong><br>
              Python, MySQL, Flask, Pylot (MVC Python Framework), Bootstrap, AWS EC2, Git, HTML, CSS</p><br>
            </div>
          <div class="row">
          <div class="col s6">
          <div class=" card-image waves-effect waves-block waves-light"><a href="http://user-dashboard.alexw.tech/">
            <img src="../assets/ud.png" class="responsive-img"></a>
          </div>
          </div>
          <div class="col s6">
          <div class="card-image waves-effect waves-block waves-light"><a href="http://user-dashboard.alexw.tech/">
            <img src="../assets/ud2.png" class="responsive-img"></a>
          </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col l8 offset-l2">
        <div class="card">
          <div class="card-content" id="simple">
            <h4><a href="http://api.alexw.tech/" class="links"><strong>Simple API</strong></a></h4>
            <p class="flow-text">Simple API is an API server that communicates directly over URL requests. All responses are JSON data (no templating, no HTML, no CSS). <a href="https://github.com/alex-wap/simple-api" class="links"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
              <strong>Technologies Used:</strong><br>
              JavaScript, Node.js, Express.js, MongoDB, Mongoose, AWS EC2, Git</p><br>
            </div>
          <div class="row">
          <div class="col s12">
          <div class=" card-image waves-effect waves-block waves-light"><a href="http://api.alexw.tech/">
            <img src="../assets/api.png" class="responsive-img"></a>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col l8 offset-l2">
      <div class="card">
        <div class="card-content" id="snippet">
          <h4><a href="https://github.com/alex-wap/snippet" class="links"><strong>Snippet</strong></a></h4>
          <p class="flow-text">Snippet is an iOS application that allows the user to write and store code snippets. It is a text editor with a built-in chat feature to share your code with others around the web. It uses a custom keyboard and web sockets. <a href="https://github.com/alex-wap/snippet" class="links"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
            <strong>Technologies Used:</strong><br>
            Swift, JavaScript, Express.js, Node.js, Socket.io, Xcode.<br><br>
            <strong>iOS Concepts:</strong><br>
            Storyboard, Auto Layout, Table View, Custom Cell, Core Data (Data Persistence), Tab View Controller, Navigation Controller, Protocols, Delegates.</p><br>
          </div>
          <div class="row">
          <div class="col s4">
          <div class=" card-image waves-effect waves-block waves-light"><a href="https://github.com/alex-wap/snippet">
            <img src="../assets/snippet/S1.PNG" class="responsive-img"></a>
          </div>
          </div>
          <div class="col s4">
          <div class="card-image waves-effect waves-block waves-light"><a href="https://github.com/alex-wap/snippet">
            <img src="../assets/snippet/S2.PNG" class="responsive-img"></a>
          </div>
          </div>
          <div class="col s4">
          <div class="card-image waves-effect waves-block waves-light"><a href="https://github.com/alex-wap/snippet">
            <img src="../assets/snippet/S3.PNG" class="responsive-img"></a>
          </div>
          </div>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col l8 offset-l2">
      <div class="card">
        <div class="card-content" id="beast">
          <h4><a href="https://github.com/alex-wap/beastlist" class="links"><strong>Beast List</strong></a></h4>
          <p class="flow-text">Beast List is an iOS task application with full CRUD capabilities. The task list timestamps your completed tasks. This app was completed during a 4 hour challenge. <a href="https://github.com/alex-wap/beastlist" class="links"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
            <strong>Technologies Used:</strong><br>
            Swift, Xcode.<br><br>
            <strong>iOS Concepts:</strong><br>
            Storyboard, Auto Layout, Table View, Custom Cell, Core Data (Data Persistence), Tab View Controller, Navigation Controller, Protocols, Delegates.</p><br>
          </div>
          <div class="row">
          <div class="col s6">
          <div class=" card-image waves-effect waves-block waves-light"><a href="https://github.com/alex-wap/beastlist">
            <img src="../assets/beast/B1.png" class="responsive-img"></a>
          </div>
          </div>
          <div class="col s6">
          <div class="card-image waves-effect waves-block waves-light"><a href="https://github.com/alex-wap/beastlist">
            <img src="../assets/beast/B2.png" class="responsive-img"></a>
          </div>
          </div>
          <br>
        </div>
      </div>
      </div>
      </div>
<div class="divider"></div><br>
<h4 class="center" id="contact">Contact</h4><br>
<div class="col m6 offset-m3">
  <h4>Alex Wapniarski</h4>
  <div class="divider"></div>
  <h5>Web Developer</h5><br>
    <ul class="collection">
      <li class="collection-item"><p class="flow-text"><a href="mailto:&#119;&#097;&#112;&#110;&#105;&#097;&#114;&#115;&#107;&#105;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" class="links"><i class="fa fa-envelope fa" aria-hidden="true"></i></a>&nbsp;&nbsp;<a href='mailto:&#119;&#097;&#112;&#110;&#105;&#097;&#114;&#115;&#107;&#105;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;' class="links">&#119;&#097;&#112;&#110;&#105;&#097;&#114;&#115;&#107;&#105;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></p></li>
      <li class="collection-item"><p class="flow-text"><a href="https://www.linkedin.com/in/wapniarski" class="links"><i class="fa fa-linkedin-square fa" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href='https://linkedin.com/in/wapniarski' class="links">/in/wapniarski</a></p></li>
      <li class="collection-item"><p class="flow-text"><a href="https://github.com/alex-wap" class="links"><i class="fa fa-github fa" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://github.com/alex-wap" class="links">github.com/alex-wap</a></p></li>
    </ul>
</div>