<div class="row">
  <div class="col s12 l8 offset-l2 center">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><h1 id="name-text">Alex Wapniarski</h1></span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l8 offset-l2 center">
    <div class="card">
      <div class="card-content">
        <div class="center"><img class="responsive-img" src="../assets/photo.JPG" id="personal-photo" alt="alex wapniarski personal photo"></div><br><br>
            <p class="center flow-text">Hello! My name is Alex and I am a Bay Area native.<br>
                                        I work at Microsoft as a Software Engineer on the Cortana team!<br>
                                        I am an ambassador for the <a href="http://industryexplorers.com" class="links" target="_blank">LEAP program</a>,<br>
                                        which promotes diversity and inclusion at Microsoft.<br><br>
                                        Read about my experiences at
                                        <a href="http://alex-wap.github.io" class="links" target="_blank"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> alex-wap.github.io</a>!<br><br>

            I graduated from University of California, Berkeley with a degree 
            <br>in Mechanical Engineering. I spend my time <a href="http://www.flickr.com/photos/98182088@N03/albums/with/72157662083553465" class="links" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i> traveling</a>, playing games, enjoying live music, and coding!<br><br>
        Check out my <a href='#/portfolio' class="links" target="_blank"><i class="fa fa-folder-open-o" aria-hidden="true"></i> <strong>portfolio</strong></a>, <a href='../assets/Alex_Wapniarski_Resume.pdf' class="links" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> <strong>resume</strong></a>, and <a href='http://github.com/alex-wap' class="links" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> <strong>GitHub</strong></i></a>.<br><br>
        Do you have a spot on your team? Do you just want to chat?<br>
        Feel free to contact me via email! <a href='mailto:&#119;&#097;&#112;&#110;&#105;&#097;&#114;&#115;&#107;&#105;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;' class="links"><i class="fa fa-envelope" aria-hidden="true"></i> <strong>&#119;&#097;&#112;&#110;&#105;&#097;&#114;&#115;&#107;&#105;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</strong></a></p><br><br>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l8 offset-l2 center">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><h3>Travel</h3></span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l8 offset-l2 center">
    <div class="card">
      <div class="card-content">
        <div class="carousel carousel-slider">
          <!-- Thailand -->
          <a class="carousel-item" href="" title="Thailand"><img class="responsive-img" src="../assets/travel/thailand.jpg" alt="alex wapniarski thailand"></a>
          <!-- Monterey -->
          <a class="carousel-item" href="" title="Monterey"><img class="responsive-img" src="../assets/travel/monterey.jpg" alt="alex wapniarski monterey"></a>
          <!-- NYC -->
          <a class="carousel-item" href="" title="NYC"><img class="responsive-img" src="../assets/travel/nyc.jpg" alt="alex wapniarski new york"></a>
          <!-- Vietnam -->
          <a class="carousel-item" href="" title="Vietnam"><img class="responsive-img" src="../assets/travel/vietnam.jpg" alt="alex wapniarski vietnam"></a>
          <!-- London -->
          <a class="carousel-item" href="" title="London"><img class="responsive-img" src="../assets/travel/london.jpg" alt="alex wapniarski london"></a>
          <!-- Donner Lake -->
          <a class="carousel-item" href="" title="Donner"><img class="responsive-img" src="../assets/travel/donner.jpg" alt="alex wapniarski donner lake"></a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col s12 l8 offset-l2 center">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><h3>Skills</h3></span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l8 offset-l2 center">
    <div class="card">
      <div class="card-content">
        <div class="col l12 m12 s12"><input type="text" placeholder="Filter for skills" ng-model='_filter'></div>
    <div class="row center">
    <div class="col l2 s12">
          <table class="striped">
            <thead>
              <tr>
                  <th class="indigo white-text"><strong>Languages</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='language in languages | filter:_filter'>
                <td ng-bind='language'></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col l2 s12">
          <table class="striped">
            <thead>
              <tr>
                  <th class="indigo white-text"><strong>Front End</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='f in frontend | filter:_filter'>
                <td ng-bind='f'></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col l2 s12">
          <table class="striped">
            <thead>
              <tr>
                  <th class="indigo white-text"><strong>Back End</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='b in backend | filter:_filter'>
                <td ng-bind='b'></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col l2 s12">
          <table class="striped">
            <thead>
              <tr>
                  <th class="indigo white-text"><strong>Database</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='d in database | filter:_filter'>
                <td ng-bind='d'></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col l2 s12">
          <table class="striped">
            <thead>
              <tr>
                  <th class="indigo white-text"><strong>Software</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='s in software | filter:_filter'>
                <td ng-bind='s'></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col l2 s12">
          <table class="striped">
            <thead>
              <tr>
                  <th class="indigo white-text"><strong>Misc</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='m in misc | filter:_filter'>
                <td ng-bind='m'></td>
              </tr>
            </tbody>
          </table>
    </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l8 offset-l2 center">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><h3>Testimonials</h3></span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l8 offset-l2">
    <div class="card">
      <div class="card-content">
      <br>
      <p class="flow-text">"Upon meeting Alex, I immediately noticed his insatiable curiosity for any current topic. Alex stays engaged by continuing to ask questions until he has a granular level understanding of the topic. As a peer, Alex has selflessly taken time to clarify challenging concepts to me which speaks volumes of his character. Alex will continue to be an asset to any engineering team he joins and will immediately make an impact to the next organization he joins."</p><br>
        <p class="flow-text center"><a href="http://www.linkedin.com/in/sonnytosco" class="links" target="_blank">Sonny Tosco</a>, Full Stack Developer</p>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l8 offset-l2">
    <div class="card">
      <div class="card-content">
      <br>
      <p class="flow-text">"Alex is exceptionally hardworking, diligent, and driven... In addition to his stellar work ethic, Alex is a pleasure to work with. He is kind, humble, and displays a strong ability to critically analyze and solve problems."</p><br>
        <p class="flow-text center"><a href="http://www.linkedin.com/in/alyssalangelier" class="links" target="_blank">Alyssa Langelier</a>, MA</p>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l8 offset-l2">
    <div class="card">
      <div class="card-content">
      <br>
      <p class="flow-text">"Alex is a very talented software engineer. He has all the qualities that make an engineer a good professional; deep knowledge in algorithms, technology, a solid experience in successful projects, and a passion for learning... He is diligent, self driven, and is very capable of taking on new challenges."</p><br>
        <p class="flow-text center"><a href="http://www.linkedin.com/in/annettefontanilla" class="links" target="_blank">Annette Fontanilla</a>, Full Stack Developer</p>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l8 offset-l2">
    <div class="card">
      <div class="card-content">
      <br>
      <p class="flow-text">"Alex is bright and works very well with others. He is gregarious, curious, and committed to continuing his personal career development and is always pushing the boundaries of his knowledge. Alex will be an asset to any team."</p><br>
        <p class="flow-text center"><a href="http://www.linkedin.com/in/anna-propas-388606106" class="links" target="_blank">Anna Propas</a>, Software Engineer</p>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l8 offset-l2">
    <div class="card">
      <div class="card-content">
      <br>
      <p class="flow-text">"Alex has a deep understanding of JavaScript and Swift and is very capable of designing and implementing fully functioning web and mobile applications. Alex is an enjoyable partner to work with and a great person to learn from!"</p><br>
        <p class="flow-text center"><a href="http://www.linkedin.com/in/philipvo" class="links" target="_blank">Philip Vo</a>, Software Engineer</p>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l8 offset-l2">
    <div class="card">
      <div class="card-content">
      <br>
      <p class="flow-text">"Alex's ability to learn new technologies quickly and reliable estimation of feature completion time contributed to an even distribution of the work load according to each team member's strengths and interests... I would happily work with Alex again and am excited to see where his previous experience and newly acquired skill set take his promising future."</p><br>
        <p class="flow-text center"><a href="http://www.linkedin.com/in/brandonmdesign" class="links" target="_blank">Brandon McMahan</a>, Web Developer</p>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l8 offset-l2">
    <div class="card">
      <div class="card-content">
      <br>
      <p class="flow-text">"Alex is excellent at learning new technologies quickly... I would gladly work with him in the future."</p><br>
        <p class="flow-text center"><a href="http://www.linkedin.com/in/elliot-young-5768199a" class="links" target="_blank">Elliot Young</a>, Web Developer</p>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l8 offset-l2 center">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><h3>Projects</h3></span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col l8 offset-l2">
    <div class="card">
      <div class="card-content" id="typingdojo">
        <h3><a href="http://typing-dojo.alexw.tech/" class="links" id="typingdojo" target="_blank"><strong>Typing Dojo</strong></a></h3>
        <p class="flow-text">Typing Dojo is a typing game that lets you race against other users in real time using web sockets. Race your friend or challenge yourself to type as fast as you can! <a href="http://github.com/alex-wap/typing-dojo" class="links" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
          <strong>Technologies Used:</strong><br>
          JavaScript, MongoDB, Express.js, AngularJS, Node.js, Socket.io, Materialize, AWS EC2, Git, HTML, CSS.</p><br>
      </div>
        <div class="row">
          <div class="col s6">
            <div class=" card-image waves-effect waves-block waves-light"><a href="http://typing-dojo.alexw.tech/" target="_blank">
              <img src="../assets/typingdojo.png" class="responsive-img" alt="alex wapniarski typing dojo screenshot"></a>
            </div>
          </div>
          <div class="col s6">
            <div class="card-image waves-effect waves-block waves-light"><a href="http://typing-dojo.alexw.tech/" target="_blank">
              <img src="../assets/typingdojo2.png" class="responsive-img" alt="alex wapniarski typing dojo screenshot two"></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col l8 offset-l2">
    <div class="card">
      <div class="card-content">
        <h3><a href="http://crime-dodger.alexw.tech/" class="links" id="crime" target="_blank"><strong>Crime Dodger</strong></a></h3>
        <p class="flow-text">Crime Dodger helps users travel safely through the city of San Francisco. This app maps the crime in San Francisco using Socrata Open Data and Google Maps JavaScript API. <a href="http://github.com/alex-wap/crime-dodger" class="links" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
          <strong>Technologies Used:</strong><br>
          JavaScript, Python, HTML, CSS, Bootstrap, MVC, S3, AWS, Git, Socrata Open Data, Google Maps JavaScript API.</p><br>
      </div>
        <div class="row">
          <div class="col s6">
            <div class=" card-image waves-effect waves-block waves-light"><a href="http://crime-dodger.alexw.tech/" target="_blank">
              <img src="../assets/crime-dodger1.png" class="responsive-img" alt="alex wapniarski crime dodger screenshot"></a>
            </div>
          </div>
          <div class="col s6">
            <div class="card-image waves-effect waves-block waves-light"><a href="http://crime-dodger.alexw.tech/" target="_blank">
              <img src="../assets/crime-dodger2.png" class="responsive-img" alt="alex wapniarski crime dodger screenshot 2"></a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col l8 offset-l2">
    <div class="card">
      <div class="card-content">
        <h3><a href="http://itunes.apple.com/us/app/ninja-flash-cards/id1188158894?mt=8" class="links" id="beast" target="_blank"><strong>Ninja Flash Cards</strong></a></h3>
        <a href="http://itunes.apple.com/us/app/ninja-flash-cards/id1188158894?mt=8" target="_blank">
        <img src="../assets/app.jpg" class="responsive-img" alt="alex wapniarski app store image"></a><br><br>
        <p class="flow-text">Ninja Flash Cards <a href="http://itunes.apple.com/us/app/ninja-flash-cards/id1188158894?mt=8" target="_blank" class="links">(App Store)</a> is an iOS application that teaches the user core concepts in Swift and iOS development via flashcards. This app allows the user to study terms, add unknown terms to focus groups, and to search the glossary of all terms. Additionally, the flashcards contain links to documentation for further study. Ninja Flash Cards was built by Amy Giver and Alex Wapniarski.

 <a href="http://github.com/alex-wap/iosGlossary" class="links" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
          <strong>Technologies Used:</strong><br>
          Swift, Xcode 8.1.<br><br>
          <strong>iOS Concepts:</strong><br>
          Storyboard, Auto Layout, Table View, Collection View, Custom Cell, Core Data (Data Persistence), Navigation Controller, Protocols, Delegates, Search Bar.</p><br>
        </div>
        <div class="row">
          <div class="col s6">
            <div class=" card-image waves-effect waves-block waves-light"><a href="http://itunes.apple.com/us/app/ninja-flash-cards/id1188158894?mt=8" target="_blank">
              <img src="../assets/s1.png" class="responsive-img" alt="alex wapniarski ninaj flash cards screenshot"></a>
            </div>
          </div>
          <div class="col s6">
            <div class="card-image waves-effect waves-block waves-light"><a href="http://itunes.apple.com/us/app/ninja-flash-cards/id1188158894?mt=8" target="_blank">
              <img src="../assets/s2.png" class="responsive-img" alt="alex wapniarski ninja flash cards screenshot two"></a>
            </div>
          </div>
          <br>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col l8 offset-l2">
    <div class="card">
      <div class="card-content">
        <h3><a href="http://user-dashboard.alexw.tech/" class="links" id="user-dash" target="_blank"><strong>User Dashboard</strong></a></h3>
        <p class="flow-text">User Dashboard is an application that demonstrates an MVC Framework, Login/Registration, Validation, Bootstrap, and a relational database. <a href="http://github.com/alex-wap/user_dashboard" class="links" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
          <strong>Technologies Used:</strong><br>
          Python, MySQL, Flask, Pylot (MVC Python Framework), Bootstrap, AWS EC2, Git, HTML, CSS</p><br>
        </div>
        <div class="row">
          <div class="col s6">
            <div class=" card-image waves-effect waves-block waves-light"><a href="http://user-dashboard.alexw.tech/" target="_blank">
              <img src="../assets/ud.png" class="responsive-img" alt="alex wapniarski user dashboard screenshot"></a>
            </div>
          </div>
          <div class="col s6">
            <div class="card-image waves-effect waves-block waves-light"><a href="http://user-dashboard.alexw.tech/" target="_blank">
              <img src="../assets/ud2.png" class="responsive-img" alt="alex wapniarski user dashboard screenshot two"></a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col l8 offset-l2">
    <div class="card">
      <div class="card-content">
        <h3><a href="http://api.alexw.tech/" class="links" id="simple" target="_blank"><strong>Simple API</strong></a></h3>
        <p class="flow-text">Simple API is an API server that communicates directly over URL requests. All responses are JSON data (no templating, no HTML, no CSS). <a href="http://github.com/alex-wap/simple-api" class="links" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
          <strong>Technologies Used:</strong><br>
          JavaScript, Node.js, Express.js, MongoDB, Mongoose, AWS EC2, Git</p><br>
        </div>
        <div class="row">
          <div class="col s12">
            <div class=" card-image waves-effect waves-block waves-light"><a href="http://api.alexw.tech/" target="_blank">
              <img src="../assets/api.png" class="responsive-img" alt="alex wapniarski api screenshot"></a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col l8 offset-l2">
    <div class="card">
      <div class="card-content">
        <h3><a href="http://github.com/alex-wap/snippet" class="links" id="snippet" target="_blank"><strong>Snippet</strong></a></h3>
        <p class="flow-text">Snippet is an iOS application that allows the user to write and store code snippets. It is a text editor with a built-in chat feature to share your code with others around the web. It uses a custom keyboard and web sockets. <a href="http://github.com/alex-wap/snippet" class="links" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
          <strong>Technologies Used:</strong><br>
          Swift, JavaScript, Express.js, Node.js, Socket.io, Xcode.<br><br>
          <strong>iOS Concepts:</strong><br>
          Storyboard, Auto Layout, Table View, Custom Cell, Core Data (Data Persistence), Tab View Controller, Navigation Controller, Protocols, Delegates.</p><br>
        </div>
        <div class="row">
          <div class="col s4">
            <div class=" card-image waves-effect waves-block waves-light"><a href="http://github.com/alex-wap/snippet" target="_blank">
              <img src="../assets/snippet/S1.PNG" class="responsive-img" alt="alex wapniarski snippet screenshot"></a>
            </div>
          </div>
          <div class="col s4">
            <div class="card-image waves-effect waves-block waves-light"><a href="http://github.com/alex-wap/snippet" target="_blank">
              <img src="../assets/snippet/S2.PNG" class="responsive-img" alt="alex wapniarski snippet screenshot two"></a>
            </div>
          </div>
          <div class="col s4">
            <div class="card-image waves-effect waves-block waves-light"><a href="http://github.com/alex-wap/snippet" target="_blank">
              <img src="../assets/snippet/S3.PNG" class="responsive-img" alt="alex wapniarski snippet screenshot three"></a>
            </div>
          </div>
        </div>
        <br>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l8 offset-l2 center">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><h3>Contact</h3></span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l8 offset-l2">
    <div class="card">
      <div class="card-content">
        <h3>Alex Wapniarski</h3>
  <div class="divider"></div>
  <h4>Software Engineer</h4><br>
    <ul class="collection">
      <li class="collection-item"><br><p class="flow-text"><a href="mailto:&#119;&#097;&#112;&#110;&#105;&#097;&#114;&#115;&#107;&#105;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" class="links"><i class="fa fa-envelope fa" aria-hidden="true"></i></a>&nbsp;&nbsp;<a href='mailto:&#119;&#097;&#112;&#110;&#105;&#097;&#114;&#115;&#107;&#105;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;' class="links">&#119;&#097;&#112;&#110;&#105;&#097;&#114;&#115;&#107;&#105;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></p><br></li>
      <li class="collection-item"><br><p class="flow-text"><a href="http://linkedin.com/in/wapniarski" class="links" target="_blank"><i class="fa fa-linkedin-square fa" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href='http://linkedin.com/in/wapniarski' class="links" target="_blank">/in/wapniarski</a></p><br></li>
      <li class="collection-item"><br><p class="flow-text"><a href="http://github.com/alex-wap" class="links" target="_blank"><i class="fa fa-github fa" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href="http://github.com/alex-wap" class="links" target="_blank">github.com/alex-wap</a></p><br></li>
      <li class="collection-item"><br><p class="flow-text"><a href="http://twitter.com/Alex_Wap_" class="links" target="_blank"><i class="fa fa-twitter fa" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href="http://twitter.com/Alex_Wap_" class="links" target="_blank">Alex_Wap_</a></p><br></li>
      <li class="collection-item"><br><p class="flow-text"><a href="../assets/Alex_Wapniarski_Resume.pdf" class="links"><i class="fa fa-file-pdf-o fa" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;<a href="../assets/Alex_Wapniarski_Resume.pdf" class="links" target="_blank">Resume</a></p><br></li>
    </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.carousel.carousel-slider').carousel({full_width:true,indicators:true});
  });
</script>