<div class="col s12">
  <h3 class="center" id="name">Alex Wapniarski's Portfolio</h3>
  <div class="divider"></div><br>
  <div class="row">
    <div class="col l8 offset-l2">
      <div class="card">
        <div class="card-content" id="typingdojo">
          <h4><a href="https://github.com/alex-wap/typing-dojo" class="links"><strong>Typing Dojo</strong></a></h4>
          <p class="flow-text">Typing Dojo is a typing game that lets you race against other users in real time using web sockets. Race your friend or challenge yourself to type as fast as you can! <a href="https://github.com/alex-wap/typing-dojo" class="links"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
            <strong>Technologies Used:</strong><br>
            JavaScript, MongoDB, Express.js, AngularJS, Node.js, Socket.io, Materialize, AWS EC2, Git, HTML, CSS.</p><br>
          </div>
          <div class="card-image waves-effect waves-block waves-light"><a href="https://github.com/alex-wap/typing-dojo">
            <img src="../assets/typingdojo.png" class="port-image"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col l8 offset-l2">
        <div class="card">
          <div class="card-content" id="crime">
            <h4><a href="http://54.167.106.29/" class="links"><strong>Crime Dodger</strong></a></h4>
            <p class="flow-text">Crime Dodger helps users travel safely through the city of San Francisco. This app maps the crime in San Francisco using Socrata Open Data and Google Maps JavaScript API. <a href="https://github.com/alex-wap/crime-dodger" class="links"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
              <strong>Technologies Used:</strong><br>
              JavaScript, Python, HTML, CSS, Bootstrap, MVC, S3, AWS, Git, Socrata Open Data, Google Maps JavaScript API.</p><br>
            </div>
            <div class="card-image waves-effect waves-block waves-light"><a href="http://54.167.106.29/">
              <img src="../assets/crime-dodger.png" class="port-image"></a>
            </div>

          </div>

        </div>
      </div>
    <div class="row">
    <div class="col l8 offset-l2">
      <div class="card">
        <div class="card-content" id="snippet">
          <h4><a href="https://github.com/alex-wap" class="links"><strong>Snippet</strong></a></h4>
          <p class="flow-text">Snippet is an iOS application that allows the user to write and store code snippets. It is a text editor with a built-in chat feature to share your code with others around the web. It uses a custom keyboard and web sockets.<a href="https://github.com/alex-wap" class="links"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
            <strong>Technologies Used:</strong><br>
            Swift, JavaScript, Express.js, Node.js, Socket.io, Xcode.<br><br>
            <strong>iOS Concepts:</strong><br>
            Storyboard, Auto Layout, Table View, Custom Cell, Core Data (Data Persistence), Tab View Controller, Navigation Controller, Protocols, Delegates.</p><br>
          </div>
          <div class="row">
          <div class="col s4">
          <div class=" card-image waves-effect waves-block waves-light"><a href="https://github.com/alex-wap">
            <img src="../assets/snippet/S1.PNG" class="responsive-img"></a>
          </div>
          </div>
          <div class="col s4">
          <div class="card-image waves-effect waves-block waves-light"><a href="https://github.com/alex-wap">
            <img src="../assets/snippet/S2.PNG" class="responsive-img"></a>
          </div>
          </div>
          <div class="col s4">
          <div class="card-image waves-effect waves-block waves-light"><a href="https://github.com/alex-wap">
            <img src="../assets/snippet/S3.PNG" class="responsive-img"></a>
          </div>
          </div>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col l8 offset-l2">
      <div class="card">
        <div class="card-content" id="beast">
          <h4><a href="https://github.com/alex-wap" class="links"><strong>Beast List</strong></a></h4>
          <p class="flow-text">Beast List is an iOS task application with full CRUD capabilities. The task list timestamps your completed tasks. This app was completed during a 4 hour challenge. <a href="https://github.com/alex-wap" class="links"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
            <strong>Technologies Used:</strong><br>
            Swift, Xcode.<br><br>
            <strong>iOS Concepts:</strong><br>
            Storyboard, Auto Layout, Table View, Custom Cell, Core Data (Data Persistence), Tab View Controller, Navigation Controller, Protocols, Delegates.</p><br>
          </div>
          <div class="row">
          <div class="col s6">
          <div class=" card-image waves-effect waves-block waves-light"><a href="https://github.com/alex-wap">
            <img src="../assets/beast/B1.png" class="responsive-img"></a>
          </div>
          </div>
          <div class="col s6">
          <div class="card-image waves-effect waves-block waves-light"><a href="https://github.com/alex-wap">
            <img src="../assets/beast/B2.png" class="responsive-img"></a>
          </div>
          </div>
          </div>
          <br>
        </div>
      </div>
      </div>
    </div>