<div class="col s12">

<div class="row">
  <div class="col s12 l8 offset-l2 center">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><h1>Alex's Portfolio</h1></span>
      </div>
    </div>
  </div>
</div>


  <div class="row">
    <div class="col l8 offset-l2">
      <div class="card">
        <div class="card-content">
          <h3><a href="http://typing-dojo.alexw.tech/" class="links" id="typingdojo"><strong>Typing Dojo</strong></a></h3>
          <p class="flow-text">Typing Dojo is a typing game that lets you race against other users in real time using web sockets. Race your friend or challenge yourself to type as fast as you can! <a href="http://github.com/alex-wap/typing-dojo" class="links"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
            <strong>Technologies Used:</strong><br>
            JavaScript, MongoDB, Express.js, AngularJS, Node.js, Socket.io, Materialize, AWS EC2, Git, HTML, CSS.</p><br>
          </div>
          <div class="row">
          <div class="col s6">
          <div class=" card-image waves-effect waves-block waves-light"><a href="http://typing-dojo.alexw.tech/">
            <img src="../assets/typingdojo.png" class="responsive-img"></a>
          </div>
          </div>
          <div class="col s6">
          <div class="card-image waves-effect waves-block waves-light"><a href="http://typing-dojo.alexw.tech/">
            <img src="../assets/typingdojo2.png" class="responsive-img"></a>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col l8 offset-l2">
        <div class="card">
          <div class="card-content">
            <h3><a href="http://crime-dodger.alexw.tech/" class="links" id="crime"><strong>Crime Dodger</strong></a></h3>
            <p class="flow-text">Crime Dodger helps users travel safely through the city of San Francisco. This app maps the crime in San Francisco using Socrata Open Data and Google Maps JavaScript API. <a href="http://github.com/alex-wap/crime-dodger" class="links"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
              <strong>Technologies Used:</strong><br>
              JavaScript, Python, HTML, CSS, Bootstrap, MVC, S3, AWS, Git, Socrata Open Data, Google Maps JavaScript API.</p><br>
            </div>
          <div class="row">
          <div class="col s6">
          <div class=" card-image waves-effect waves-block waves-light"><a href="http://crime-dodger.alexw.tech/">
            <img src="../assets/crime-dodger.png" class="responsive-img"></a>
          </div>
          </div>
          <div class="col s6">
          <div class="card-image waves-effect waves-block waves-light"><a href="http://crime-dodger.alexw.tech/">
            <img src="../assets/crime-dodger2.png" class="responsive-img"></a>
          </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col l8 offset-l2">
        <div class="card">
          <div class="card-content">
            <h3><a href="http://user-dashboard.alexw.tech/" class="links" id="user-dash"><strong>User Dashboard</strong></a></h3>
            <p class="flow-text">User Dashboard is an application that demonstrates an MVC Framework, Login/Registration, Validation, Bootstrap, and a relational database. <a href="http://github.com/alex-wap/user_dashboard" class="links"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
              <strong>Technologies Used:</strong><br>
              Python, MySQL, Flask, Pylot (MVC Python Framework), Bootstrap, AWS EC2, Git, HTML, CSS</p><br>
            </div>
          <div class="row">
          <div class="col s6">
          <div class=" card-image waves-effect waves-block waves-light"><a href="http://user-dashboard.alexw.tech/">
            <img src="../assets/ud.png" class="responsive-img"></a>
          </div>
          </div>
          <div class="col s6">
          <div class="card-image waves-effect waves-block waves-light"><a href="http://user-dashboard.alexw.tech/">
            <img src="../assets/ud2.png" class="responsive-img"></a>
          </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col l8 offset-l2">
        <div class="card">
          <div class="card-content">
            <h3><a href="http://api.alexw.tech/" class="links" id="simple"><strong>Simple API</strong></a></h3>
            <p class="flow-text">Simple API is an API server that communicates directly over URL requests. All responses are JSON data (no templating, no HTML, no CSS). <a href="http://github.com/alex-wap/simple-api" class="links"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
              <strong>Technologies Used:</strong><br>
              JavaScript, Node.js, Express.js, MongoDB, Mongoose, AWS EC2, Git</p><br>
            </div>
          <div class="row">
          <div class="col s12">
          <div class=" card-image waves-effect waves-block waves-light"><a href="http://api.alexw.tech/">
            <img src="../assets/api.png" class="responsive-img"></a>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col l8 offset-l2">
      <div class="card">
        <div class="card-content">
          <h3><a href="http://github.com/alex-wap/snippet" class="links" id="snippet"><strong>Snippet</strong></a></h3>
          <p class="flow-text">Snippet is an iOS application that allows the user to write and store code snippets. It is a text editor with a built-in chat feature to share your code with others around the web. It uses a custom keyboard and web sockets. <a href="http://github.com/alex-wap/snippet" class="links"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
            <strong>Technologies Used:</strong><br>
            Swift, JavaScript, Express.js, Node.js, Socket.io, Xcode.<br><br>
            <strong>iOS Concepts:</strong><br>
            Storyboard, Auto Layout, Table View, Custom Cell, Core Data (Data Persistence), Tab View Controller, Navigation Controller, Protocols, Delegates.</p><br>
          </div>
          <div class="row">
          <div class="col s4">
          <div class=" card-image waves-effect waves-block waves-light"><a href="http://github.com/alex-wap/snippet">
            <img src="../assets/snippet/S1.PNG" class="responsive-img"></a>
          </div>
          </div>
          <div class="col s4">
          <div class="card-image waves-effect waves-block waves-light"><a href="http://github.com/alex-wap/snippet">
            <img src="../assets/snippet/S2.PNG" class="responsive-img"></a>
          </div>
          </div>
          <div class="col s4">
          <div class="card-image waves-effect waves-block waves-light"><a href="http://github.com/alex-wap/snippet">
            <img src="../assets/snippet/S3.PNG" class="responsive-img"></a>
          </div>
          </div>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col l8 offset-l2">
      <div class="card">
        <div class="card-content">
          <h3><a href="http://github.com/alex-wap/beastlist" class="links" id="beast"><strong>Beast List</strong></a></h3>
          <p class="flow-text">Beast List is an iOS task application with full CRUD capabilities. The task list timestamps your completed tasks. This app was completed during a 4 hour challenge. <a href="http://github.com/alex-wap/beastlist" class="links"><i class="fa fa-github" aria-hidden="true"></i></a><br><br>
            <strong>Technologies Used:</strong><br>
            Swift, Xcode.<br><br>
            <strong>iOS Concepts:</strong><br>
            Storyboard, Auto Layout, Table View, Custom Cell, Core Data (Data Persistence), Tab View Controller, Navigation Controller, Protocols, Delegates.</p><br>
          </div>
          <div class="row">
          <div class="col s6">
          <div class=" card-image waves-effect waves-block waves-light"><a href="http://github.com/alex-wap/beastlist">
            <img src="../assets/beast/B1.png" class="responsive-img"></a>
          </div>
          </div>
          <div class="col s6">
          <div class="card-image waves-effect waves-block waves-light"><a href="http://github.com/alex-wap/beastlist">
            <img src="../assets/beast/B2.png" class="responsive-img"></a>
          </div>
          </div>
          <br>
        </div>
      </div>
      </div>
      </div>
</div>