*{
  /*font-family: 'Montserrat', sans-serif;*/
}

body{
  background-color: #e8eaf6;
}

h1,h2,h3,h4,h5,h6,.brand-logo,#typingdojo,#crime,#beast,#simple,#user-dash,#snippet{
  font-family: 'Montserrat', sans-serif;
}

p,a{
  font-family: 'Georgia', serif;
}

#excerpt{
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

/*@media (max-width:995px){
  .flex-s{
    display: flex;
    flex-direction: column;
  }
}*/

.links{
  color: #3F51B5;
}

.links:hover{
  color: grey;
  text-decoration: underline; 
}

.brand-logo{
  margin-left: 10px;
}

.port-image{
  padding: 15px;
}

#personal-photo{
  border-radius:600px; 
  width: 280px;
  height:280px;
}
